assessment-admin.smkswadaya.sch.id {
    root * /var/www/app/public

    php_fastcgi app:9000

    file_server
    encode gzip

    @http {
        protocol http
    }
    redir @http https://{host}{uri} permanent
}
